
{{ section 'header' data=navigation.Header }}
{{#each home }}

  {{#if type '===' 'Swiper'  }}
    {{ section 'Swiper' id=id props=props }}
  {{/if}}

  {{#if type '===' 'Text'  }}
    {{ section 'Text' id=id props=props }}
  {{/if}}

  {{#if type '===' 'ProductCategories'  }}
    {{ section 'ProductCategories' id=id props=props }}
  {{/if}}

  {{#if type '===' 'Products'  }}
    {{ section 'Products' id=id props=props }}
  {{/if}}

{{/each}}
{{ section 'footer' Footer1=navigation.Footer1 Footer2=navigation.Footer2 }}
