<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>首页</title>
  <link rel="stylesheet" href="{{ assets_url 'normalize.css' }}"/>
  <link rel="stylesheet" href="{{ assets_url 'swiper-bundle.min.css' }}"/>
  <link rel="stylesheet" href="{{ assets_url 'bootstrap.min.css' }}" />
  <link rel="stylesheet" href="{{ assets_url 'application.css' }}"/>
</head>
<body>
  {{ content_for_layout }}
  <script src="{{ assets_url 'swiper-bundle.min.js' }}"></script>
  <script src="{{ assets_url 'bootstrap.bundle.min.js' }}"></script>
  <script src="{{ assets_url 'lozad.min.js' }}"></script>
  <script src="{{ assets_url 'application.js' }}"></script>
</body>
</html>