<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  {{#slot 'seo-meta'}}
    {{ snippet 'seo-meta' }}
  {{/slot}}
  {{#slot 'title'}}
    {{ assign 'seoTitle' (useFallbackLang pageInfo.seoTitle request.locale) }}
    {{#if seoTitle}}
      <title>{{ seoTitle }}</title>
    {{else}}
      <title>{{ storeInfo.name }}</title>
    {{/if}}
  {{/slot}}
  {{#if theme.settings.favicon_image}}
    <link rel="shortcut icon" href="{{ theme.settings.favicon_image }}" type="image/png">
  {{/if}}
  {{ content_for_header }}

  <link rel="dns-prefetch" href="https://cdn.myshopline.com">
  <link rel="preconnect" href="https://cdn.myshopline.com">

  {{#slot 'head'}}{{/slot}}

  {{ preload_state 'storeInfo' 'tradeSettleConfig' 'tradeCollectionConfig' }}
  {{ preload_state 'currencyCode' }}
  {{ preload_state 'currencyRates' }}
  {{ preload_state 'request' }}
  {{ preload_state 'theme.settings.cart_open_type' 'theme.settings.superscript_decimals' }}
  {{ preload_state 'payChannelInfo' }}
</head>

<body class="template--le template__{{ replace template '/' '-' }}"
  data-button_style="{{ theme.settings.button_style }}"
  data-edges="{{ theme.settings.edges }}"
  data-type_title_uppercase="{{ theme.settings.type_title_uppercase }}"
  data-type_navigation_uppercase="{{ theme.settings.type_navigation_uppercase }}"
  >
  <div id="google_translate_element"></div>
  {{#slot 'user_head'}}{{/slot}}
  {{ section 'header' }}
  {{ content_for_layout }}
  {{ section 'footer-promotion' }}
  {{ section 'footer' }}
	{{ preload_state 'template' }}
	{{ preload_state 'templateAlias' }}

  {{#slot 'pre_script'}}
    {{#is_modern_browser}}
      <script>(() => {
    var __webpack_modules__ = {
        "./node_modules/lozad/dist/lozad.min.js": function(module) {
            !function(t, e) {
                true ? module.exports = e() : 0;
            }(0, (function() {
                "use strict";
                var g = "undefined" != typeof document && document.documentMode, f = {
                    rootMargin: "0px",
                    threshold: 0,
                    load: function(t) {
                        if ("picture" === t.nodeName.toLowerCase()) {
                            var e = t.querySelector("img"), r = !1;
                            null === e && (e = document.createElement("img"), r = !0), g && t.getAttribute("data-iesrc") && (e.src = t.getAttribute("data-iesrc")), 
                            t.getAttribute("data-alt") && (e.alt = t.getAttribute("data-alt")), r && t.append(e);
                        }
                        if ("video" === t.nodeName.toLowerCase() && !t.getAttribute("data-src") && t.children) {
                            for (var a = t.children, o = void 0, i = 0; i <= a.length - 1; i++) (o = a[i].getAttribute("data-src")) && (a[i].src = o);
                            t.load();
                        }
                        t.getAttribute("data-poster") && (t.poster = t.getAttribute("data-poster")), t.getAttribute("data-src") && (t.src = t.getAttribute("data-src")), 
                        t.getAttribute("data-srcset") && t.setAttribute("srcset", t.getAttribute("data-srcset"));
                        var n = ",";
                        if (t.getAttribute("data-background-delimiter") && (n = t.getAttribute("data-background-delimiter")), 
                        t.getAttribute("data-background-image")) t.style.backgroundImage = "url('" + t.getAttribute("data-background-image").split(n).join("'),url('") + "')"; else if (t.getAttribute("data-background-image-set")) {
                            var d = t.getAttribute("data-background-image-set").split(n), u = d[0].substr(0, d[0].indexOf(" ")) || d[0];
                            u = -1 === u.indexOf("url(") ? "url(" + u + ")" : u, 1 === d.length ? t.style.backgroundImage = u : t.setAttribute("style", (t.getAttribute("style") || "") + "background-image: " + u + "; background-image: -webkit-image-set(" + d + "); background-image: image-set(" + d + ")");
                        }
                        t.getAttribute("data-toggle-class") && t.classList.toggle(t.getAttribute("data-toggle-class"));
                    },
                    loaded: function() {}
                };
                function A(t) {
                    t.setAttribute("data-loaded", !0);
                }
                var m = function(t) {
                    return "true" === t.getAttribute("data-loaded");
                }, v = function(t) {
                    var e = 1 < arguments.length && void 0 !== arguments[1] ? arguments[1] : document;
                    return t instanceof Element ? [ t ] : t instanceof NodeList ? t : e.querySelectorAll(t);
                };
                return function() {
                    var r, a, o = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : ".lozad", t = 1 < arguments.length && void 0 !== arguments[1] ? arguments[1] : {}, e = Object.assign({}, f, t), i = e.root, n = e.rootMargin, d = e.threshold, u = e.load, g = e.loaded, s = void 0;
                    "undefined" != typeof window && window.IntersectionObserver && (s = new IntersectionObserver((r = u, 
                    a = g, function(t, e) {
                        t.forEach((function(t) {
                            (0 < t.intersectionRatio || t.isIntersecting) && (e.unobserve(t.target), m(t.target) || (r(t.target), 
                            A(t.target), a(t.target)));
                        }));
                    }), {
                        root: i,
                        rootMargin: n,
                        threshold: d
                    }));
                    for (var c, l = v(o, i), b = 0; b < l.length; b++) (c = l[b]).getAttribute("data-placeholder-background") && (c.style.background = c.getAttribute("data-placeholder-background"));
                    return {
                        observe: function() {
                            for (var t = v(o, i), e = 0; e < t.length; e++) m(t[e]) || (s ? s.observe(t[e]) : (u(t[e]), 
                            A(t[e]), g(t[e])));
                        },
                        triggerLoad: function(t) {
                            m(t) || (u(t), A(t), g(t));
                        },
                        observer: s
                    };
                };
            }));
        }
    };
    var __webpack_module_cache__ = {};
    function __webpack_require__(moduleId) {
        var cachedModule = __webpack_module_cache__[moduleId];
        if (void 0 !== cachedModule) return cachedModule.exports;
        var module = __webpack_module_cache__[moduleId] = {
            exports: {}
        };
        __webpack_modules__[moduleId].call(module.exports, module, module.exports, __webpack_require__);
        return module.exports;
    }
    (() => {
        __webpack_require__.n = module => {
            var getter = module && module.__esModule ? () => module["default"] : () => module;
            __webpack_require__.d(getter, {
                a: getter
            });
            return getter;
        };
    })();
    (() => {
        __webpack_require__.d = (exports, definition) => {
            for (var key in definition) if (__webpack_require__.o(definition, key) && !__webpack_require__.o(exports, key)) Object.defineProperty(exports, key, {
                enumerable: true,
                get: definition[key]
            });
        };
    })();
    (() => {
        __webpack_require__.o = (obj, prop) => Object.prototype.hasOwnProperty.call(obj, prop);
    })();
    (() => {
        "use strict";
        var lozad__WEBPACK_IMPORTED_MODULE_0__ = __webpack_require__("./node_modules/lozad/dist/lozad.min.js");
        var lozad__WEBPACK_IMPORTED_MODULE_0___default = __webpack_require__.n(lozad__WEBPACK_IMPORTED_MODULE_0__);
        const observer = lozad__WEBPACK_IMPORTED_MODULE_0___default()(".lozad", {
            loaded(el) {
                el.className += " lazyloaded";
            },
            rootMargin: "100px"
        });
        observer.observe();
        window.lozadObserver = observer;
    })();
})();</script>
    {{else}}
      <script>(() => {
    var __webpack_modules__ = {
        "./node_modules/lozad/dist/lozad.min.js": function(module) {
            !function(t, e) {
                true ? module.exports = e() : 0;
            }(0, (function() {
                "use strict";
                var g = "undefined" != typeof document && document.documentMode, f = {
                    rootMargin: "0px",
                    threshold: 0,
                    load: function(t) {
                        if ("picture" === t.nodeName.toLowerCase()) {
                            var e = t.querySelector("img"), r = !1;
                            null === e && (e = document.createElement("img"), r = !0), g && t.getAttribute("data-iesrc") && (e.src = t.getAttribute("data-iesrc")), 
                            t.getAttribute("data-alt") && (e.alt = t.getAttribute("data-alt")), r && t.append(e);
                        }
                        if ("video" === t.nodeName.toLowerCase() && !t.getAttribute("data-src") && t.children) {
                            for (var a = t.children, o = void 0, i = 0; i <= a.length - 1; i++) (o = a[i].getAttribute("data-src")) && (a[i].src = o);
                            t.load();
                        }
                        t.getAttribute("data-poster") && (t.poster = t.getAttribute("data-poster")), t.getAttribute("data-src") && (t.src = t.getAttribute("data-src")), 
                        t.getAttribute("data-srcset") && t.setAttribute("srcset", t.getAttribute("data-srcset"));
                        var n = ",";
                        if (t.getAttribute("data-background-delimiter") && (n = t.getAttribute("data-background-delimiter")), 
                        t.getAttribute("data-background-image")) t.style.backgroundImage = "url('" + t.getAttribute("data-background-image").split(n).join("'),url('") + "')"; else if (t.getAttribute("data-background-image-set")) {
                            var d = t.getAttribute("data-background-image-set").split(n), u = d[0].substr(0, d[0].indexOf(" ")) || d[0];
                            u = -1 === u.indexOf("url(") ? "url(" + u + ")" : u, 1 === d.length ? t.style.backgroundImage = u : t.setAttribute("style", (t.getAttribute("style") || "") + "background-image: " + u + "; background-image: -webkit-image-set(" + d + "); background-image: image-set(" + d + ")");
                        }
                        t.getAttribute("data-toggle-class") && t.classList.toggle(t.getAttribute("data-toggle-class"));
                    },
                    loaded: function() {}
                };
                function A(t) {
                    t.setAttribute("data-loaded", !0);
                }
                var m = function(t) {
                    return "true" === t.getAttribute("data-loaded");
                }, v = function(t) {
                    var e = 1 < arguments.length && void 0 !== arguments[1] ? arguments[1] : document;
                    return t instanceof Element ? [ t ] : t instanceof NodeList ? t : e.querySelectorAll(t);
                };
                return function() {
                    var r, a, o = 0 < arguments.length && void 0 !== arguments[0] ? arguments[0] : ".lozad", t = 1 < arguments.length && void 0 !== arguments[1] ? arguments[1] : {}, e = Object.assign({}, f, t), i = e.root, n = e.rootMargin, d = e.threshold, u = e.load, g = e.loaded, s = void 0;
                    "undefined" != typeof window && window.IntersectionObserver && (s = new IntersectionObserver((r = u, 
                    a = g, function(t, e) {
                        t.forEach((function(t) {
                            (0 < t.intersectionRatio || t.isIntersecting) && (e.unobserve(t.target), m(t.target) || (r(t.target), 
                            A(t.target), a(t.target)));
                        }));
                    }), {
                        root: i,
                        rootMargin: n,
                        threshold: d
                    }));
                    for (var c, l = v(o, i), b = 0; b < l.length; b++) (c = l[b]).getAttribute("data-placeholder-background") && (c.style.background = c.getAttribute("data-placeholder-background"));
                    return {
                        observe: function() {
                            for (var t = v(o, i), e = 0; e < t.length; e++) m(t[e]) || (s ? s.observe(t[e]) : (u(t[e]), 
                            A(t[e]), g(t[e])));
                        },
                        triggerLoad: function(t) {
                            m(t) || (u(t), A(t), g(t));
                        },
                        observer: s
                    };
                };
            }));
        }
    };
    var __webpack_module_cache__ = {};
    function __webpack_require__(moduleId) {
        var cachedModule = __webpack_module_cache__[moduleId];
        if (void 0 !== cachedModule) return cachedModule.exports;
        var module = __webpack_module_cache__[moduleId] = {
            exports: {}
        };
        __webpack_modules__[moduleId].call(module.exports, module, module.exports, __webpack_require__);
        return module.exports;
    }
    (() => {
        __webpack_require__.n = module => {
            var getter = module && module.__esModule ? () => module["default"] : () => module;
            __webpack_require__.d(getter, {
                a: getter
            });
            return getter;
        };
    })();
    (() => {
        __webpack_require__.d = (exports, definition) => {
            for (var key in definition) if (__webpack_require__.o(definition, key) && !__webpack_require__.o(exports, key)) Object.defineProperty(exports, key, {
                enumerable: true,
                get: definition[key]
            });
        };
    })();
    (() => {
        __webpack_require__.o = (obj, prop) => Object.prototype.hasOwnProperty.call(obj, prop);
    })();
    (() => {
        "use strict";
        var lozad__WEBPACK_IMPORTED_MODULE_0__ = __webpack_require__("./node_modules/lozad/dist/lozad.min.js");
        var lozad__WEBPACK_IMPORTED_MODULE_0___default = __webpack_require__.n(lozad__WEBPACK_IMPORTED_MODULE_0__);
        var observer = lozad__WEBPACK_IMPORTED_MODULE_0___default()(".lozad", {
            loaded: function(el) {
                el.className += " lazyloaded";
            },
            rootMargin: "100px"
        });
        observer.observe();
        window.lozadObserver = observer;
    })();
})();</script>
    {{/is_modern_browser}}
  {{/slot}}

  {{!-- 重新进行 lazy dom 观察 --}}
  <script>
    window.lozadObserver && window.lozadObserver.observe();
  </script>

  <script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['common'] = {{{ JSONstringify (t 'common') }}};
    window.__I18N__['footer'] = {{{ JSONstringify (t 'footer') }}};
    window.__I18N__['trade'] = {{{ JSONstringify (t 'trade') }}};
    window.__I18N__['cart'] = {{{ JSONstringify (t 'cart') }}};
    window.__I18N__['productList'] = {{{ JSONstringify (t 'productList') }}};
    window.__I18N__['sales'] = {{{ JSONstringify (t 'sales') }}};
    window.__I18N__['validate'] = {{{ JSONstringify (t 'validate') }}};
    window.__I18N__['productDetail'] = {{{ JSONstringify (t 'productDetail') }}};
    window.__I18N__['modal'] = {{{ JSONstringify (t 'modal') }}};
    window.__I18N__['comment'] = {{{ JSONstringify (t 'comment') }}};
    window.__I18N__['collection'] = {{{ JSONstringify (t 'collection') }}}
  </script>
  <script>
    (function(){
      function manualLozad() {
        let imgs = document.querySelectorAll('.lozad');
        [...imgs].forEach((img) => window.lozadObserver.triggerLoad(img));
      }

      document.addEventListener('shopline:section:load', manualLozad, false);

      window.addEventListener('load', () => {
        if (window.Shopline.designMode) {
          manualLozad();
        }
      }, false)
    }());
  </script>
  {{#slot 'gte'}}{{/slot}}


  {{ preload_state 'currencyConfig.referenceCurrencies' }}

  {{!-- <script src="{{ assets_url 'shared/head_script.min.js' }}"></script> --}}

  {{#slot 'script'}}{{/slot}}

  {{#slot 'page_view'}}{{/slot}}

  {{ sales_widgets_script }}
  {{!-- 自定义代码底部 --}}
  {{ content_for_footer }}
  
  {{!-- 本地调试 pod 商品的代码 --}}
  {{!-- <script src="http://localhost:8080/bundle.js"></script> --}}
</body>

</html>