<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta http-equiv="x-dns-prefetch-control" content="on">

  {{#slot 'seo-meta'}}
    {{ snippet 'seo-meta' }}
  {{/slot}}
  {{#slot 'title'}}
    {{ assign 'seoTitle' (useFallbackLang pageInfo.seoTitle request.locale) }}
    {{#if seoTitle}}
      <title>{{ seoTitle }}</title>
    {{else}}
      <title>{{ storeInfo.name }}</title>
    {{/if}}
  {{/slot}}
  {{#if theme.settings.favicon_image}}
    <link rel="shortcut icon" href="{{ theme.settings.favicon_image }}" type="image/png">
  {{/if}}
  {{ content_for_header }}

  <link rel="dns-prefetch" href="https://cdn.myshopline.com">
  <link rel="preconnect" href="https://cdn.myshopline.com">
  <link rel="dns-prefetch" href="https://img.myshopline.com">
  <link rel="preconnect" href="https://img.myshopline.com">
  <link rel="dns-prefetch" href="https://img-va.myshopline.com">
  <link rel="preconnect" href="https://img-va.myshopline.com">
  <link rel="dns-prefetch" href="https://fonts.gstatic.com">
  <link rel="preconnect" href="https://fonts.gstatic.com">

  {{#slot 'head'}}{{/slot}}

  {{ preload_state 'storeInfo' 'tradeSettleConfig' 'tradeCollectionConfig' }}
  {{ preload_state 'currencyCode' }}
  {{ preload_state 'currencyRates' }}
  {{ preload_state 'request' }}
  {{ preload_state 'theme.settings.cart_open_type' 'theme.settings.superscript_decimals' }}
  {{ preload_state 'payChannelInfo' }}
</head>

<body class="template--le template__{{ replace template '/' '-' }}"
  data-button_style="{{ theme.settings.button_style }}"
  data-edges="{{ theme.settings.edges }}"
  data-type_title_uppercase="{{ theme.settings.type_title_uppercase }}"
  data-type_navigation_uppercase="{{ theme.settings.type_navigation_uppercase }}"
  >
  <div id="google_translate_element"></div>
  {{#slot 'user_head'}}{{/slot}}
  {{ section 'header' }}
  {{ content_for_layout }}
  {{ section 'footer-promotion' }}
  {{ section 'footer' }}
  {{ preload_state 'template' }}
  {{ preload_state 'templateAlias' }}
  {{!-- mini购物车上报专用 --}}
  {{ preload_state 'variants' }}
  {{#slot 'pre_script'}}
    <script src="{{ assets_url 'shared/pre-script.min.js' }}" ></script>
  {{/slot}}

  {{!-- 重新进行 lazy dom 观察 --}}
  <script>
    window.lozadObserver && window.lozadObserver.observe();
  </script>

  <script>
    window.__I18N__ = window.__I18N__ || {};
    window.__I18N__['common'] = {{{ JSONstringify (t 'common') }}};
    window.__I18N__['footer'] = {{{ JSONstringify (t 'footer') }}};
    window.__I18N__['trade'] = {{{ JSONstringify (t 'trade') }}};
    window.__I18N__['cart'] = {{{ JSONstringify (t 'cart') }}};
    window.__I18N__['productList'] = {{{ JSONstringify (t 'productList') }}};
    window.__I18N__['sales'] = {{{ JSONstringify (t 'sales') }}};
    window.__I18N__['validate'] = {{{ JSONstringify (t 'validate') }}};
    window.__I18N__['productDetail'] = {{{ JSONstringify (t 'productDetail') }}};
    window.__I18N__['modal'] = {{{ JSONstringify (t 'modal') }}};
    window.__I18N__['comment'] = {{{ JSONstringify (t 'comment') }}};
    window.__I18N__['collection'] = {{{ JSONstringify (t 'collection') }}}
  </script>
  <script>
    (function(){
      function manualLozad() {
        let imgs = document.querySelectorAll('.lozad');
        [...imgs].forEach((img) => window.lozadObserver.triggerLoad(img));
      }

      document.addEventListener('shopline:section:load', manualLozad, false);

      window.addEventListener('load', () => {
        if (window.Shopline.designMode) {
          manualLozad();
        }
      }, false)
    }());
  </script>
  {{#if storeInfo.languageSetting.enableSelector}}
    {{ snippet 'gte' }}
  {{/if}}


  {{ preload_state 'currencyConfig.referenceCurrencies' }}

  {{!-- <script src="{{ assets_url 'shared/head_script.min.js' }}"></script> --}}

  {{#slot 'script'}}{{/slot}}

  {{#slot 'page_view'}}{{/slot}}

  {{ sales_widgets_script }}
  {{!-- 自定义代码底部 --}}
  {{ content_for_footer }}
  
  {{!-- 本地调试 pod 商品的代码 --}}
  {{!-- <script src="http://localhost:8080/bundle.js"></script> --}}
</body>

</html>