{{#partial 'head'}}
  <link rel="stylesheet" href="{{ assets_url 'blog/list/index.min.css' }}">
{{/partial}}

{{ assign 'seoTitle' storeInfo.name }}
{{#if blogs.seoTitle}}
  {{ assign 'seoTitle' (append blogs.seoTitle ' - ' seoTitle) }}
{{/if}}

{{#partial 'title'}}
  <title>{{ seoTitle }}</title>
{{/partial}}

{{#partial 'seo-meta'}}
  {{ assign 'url' (append request.uri.domain request.uri.url) }}
  {{#if blogs.seoTitle}}
    {{ assign 'ogTitle' blogs.seoTitle }}
  {{/if}}
  {{ assign 'ogDescription' storeInfo.name }}
  {{#if blogs.seoDesc}}
    {{ assign 'ogDescription' blogs.seoDesc }}
  {{/if}}
  {{#if page_image}}
    {{ assign 'image' page_image }}
  {{else}}
    {{ assign 'image' theme.setting.checkout_image.url }}
  {{/if}}
  {{ assign 'type' 'blog' }}
  {{#if blogs.seoDesc}}
    {{ assign 'seoDescription' blogs.seoDesc }}
  {{/if}}
  {{#if blogs.seoKeyword}}
    {{ assign 'keywords' blogs.seoKeyword }}
  {{/if}}


  

{{assign '_image' 'https://img.myshopline.com/image/shopline/3439ce4a1e15489193fd9ac622e1143e.png'}}
{{assign 'twitterCard' (default card 'summary_large_image') }}

{{! 如果存在传入的图片使用传入的 没有使用店铺log 在没有使用兜底图片 }}
{{#if image}}
  {{assign '_image' image}}
{{/if}}
{{assign 'title' (default seoTitle '')}}

{{#if canonicalUrl }}
  {{assign '_canonicalUrl' canonicalUrl}}
{{else}}
  {{assign '_canonicalUrl' url}}
{{/if}}

{{#if title}}
<meta name="title" content="{{title}}" />
{{/if}}
{{!-- keyword 插入到title 和 description 中间 --}}
{{#if keywords }}
<meta name="keywords" content="{{keywords}}" /> 
{{/if}}

{{! 没有desc 不展示 }}
{{#if seoDescription}}
  <meta name="description" content="{{seoDescription}}" />
{{/if}}

{{! 商详页之前的标签 先保留其他页面不需要传入  }}
{{! 重复网址 seo 定向到主站 }}


{{#if _canonicalUrl}}
  <link rel="canonical" href="{{_canonicalUrl}}" />
  <link rel="alternate" href="{{_canonicalUrl}}" />
{{/if}}

{{! meta link }}
{{#if url}}
  <meta property="og:url" content="{{url}}" />
{{/if}}

{{#if storeInfo.name}}
  <meta property="og:site_name" content="{{storeInfo.name}}" />
{{/if}}

{{! meta title }}
{{#if ogTitle}}
  <meta property="og:title" content="{{ogTitle}}" />
{{/if}}

{{#if ogDescription}}
  <meta property="og:description" content="{{ogDescription}}" />
{{/if}}

{{! meta fb type }}
{{#if type}}
  <meta property="og:type" content="{{type}}" />
{{/if}}

{{#if _image}}
  <meta property="og:image" content="{{_image}}" />
  <meta property="og:image:secure_url" content="{{_image}}" />
  <meta name="twitter:image" content="{{_image}}" />
{{/if}}

{{#if ogTitle}}
  <meta name="twitter:title" content="{{ogTitle}}" />
{{/if}}

{{! meta description }}
{{#if ogDescription}}
  <meta name="twitter:description" content="{{ogDescription}}" />
{{/if}}

{{! meta twitter card }}
{{#if card}}
  <meta name="twitter:card" content="{{twitterCard}}" />
{{/if}}

{{!-- meta hide product --}}
{{#not product.spu.visible}}
  <meta name='robots' content='noindex' />
{{/not}}


{{/partial}}


{{#partial 'script'}}
  <script src="{{ assets_url 'blog/list/index.min.js' }}"></script>
{{/partial}}


{{#partial 'page_view'}}
  {{!-- 海度埋点 --}}
  <script>
    window.HdSdk.shopTracker.report('60090005', {
      event_name: 'view',
      iframe_id: 1
    });
  </script>
{{/partial}}

<main class="blogs-container container gx-4 gx-md-6">
  {{ section 'blog/list' }}
</main>