* {
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  line-height: 1.6;
  font-family: "Work Sans", sans-serif;
  color: #1f2021;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  height: 100%;
}

body {
  background: #fff;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #000;
  margin: 0;
  padding: 0;
}

hr {
  clear: both;
  border-top: solid #1f2021;
  border-width: 1px 0 0;
  margin: 30px 0;
  height: 0;
  width: 50px;
}

a {
  color: #1f2021;
  text-decoration: none;
  background: transparent;
}

ul {
  list-style: none;
  padding: 0;
}

.hr--small {
  margin: 20px auto;
}
.hr--large {
  margin: 60px auto;
}

.header {
  position: relative;
  z-index: 2;
  height: 90px;
  margin-bottom: -90px;
  padding: 15px 0;
}

.nav {
  position: fixed;
  z-index: 3;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100%;
  color: white;
  background-color: #1f2021;
  transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
  padding: 30px;
}

.nav.open {
  left: 0;
}

.nav a {
  display: block;
  padding: 15px 0;
  font-size: 22px;
  color: white;
}

#page-index {
  height: 100%;
  transition: all 0.35s cubic-bezier(0.46, 0.01 , 0.32, 1);
}
#page-index.nav-open {
  transform: translateX(300px);
}

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  font-family: "object-fit: cover";
}

.featured-content {
  text-align: center;
}

.featured-content h2 {
  color: #1f2021;
  font-size: 2.25em;
  margin-bottom: 12px;
}

.featured-content p {
  margin-bottom: 15px;
  font-size: 1.1875em;
  padding: 0 10px;
}

.index-section {
  margin-top: 90px;
}

.featured-products {
  margin-top: 90px;
}

.featured-products .title {
  text-align: center;
}

.featured-products .image-wrapper {
  font-size: 0;
  padding-top: 100%;
  position: relative;
}

.featured-products .image-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.featured-products .product-item {
  margin-bottom: 30px;
}

.featured-products .product-content {
  position: relative;
  display: block;
  padding: 13px 0;
  text-align: center;
}



.collection-1 {
  margin-top: 90px;
}

.collection-1 .image-wrapper > div {
  font-size: 0;
  padding-top: 133.3333333%;
  position: relative;
}

.collection-1 .image-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.collection-1 .text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.collection-2 {
  margin-top: 90px;
}

.collection-2 .image-wrapper > div {
  font-size: 0;
  padding-top: 100%;
  position: relative;
}

.collection-2 .image-wrapper img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.collection-2 .text {
  display: flex;
  align-items: center;
}

.collection-2 .text h3 {
  font-size: 24px;
}


.newsletter {
  margin-top: 90px;
  background-color: #f6f6f6;
  padding: 60px 0;
}

.newsletter .newsletter-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newsletter .newsletter-subheading {
  text-align: center;
  margin-bottom: 50px;
}

.contact-form {
  padding: 10px;
  background-color: white;
  margin: 0 auto;
  max-width: 520px;
}

.contact-form form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-form input {
  border: 0;
}

.contact-form .btn {
  border-radius: 0;
}


.footer {
  padding-bottom: 30px;
}

.footer .col{
  text-align: center;
  list-style: none;
  padding: 0;
}