{{ include 'sections/nav' }}

<div id="page-index">
{{ include 'sections/header' }}

{{ include 'sections/slider' }}
{{ include 'sections/featured_content' }}
{{ include 'sections/featured_products' products=products1 title='Summer Collection' }}
{{ include 'sections/featured_products' products=products2 title='Beach Feeling'}}

{{ include 'sections/collection_1' }}
{{ include 'sections/collection_2' }}

{{ include 'sections/newsletter' }}

<hr class="hr--large">

{{ include 'sections/footer' }}
</div>
