{{ layout 'proofing' }}

{{#partial 'head'}}
  <link rel="stylesheet" href="{{ assets_url 'proofing/index.min.css' }}" />
{{/partial}}

{{#partial 'script'}}
  <script src="{{ assets_url 'proofing/index.min.js' }}"></script>
{{/partial}}
{{assign 'prefix' 'stage__proofing'}}

<div class='container {{prefix}}'>
  <div>
    <img src='{{ assets_url 'images/store-close.png'}}' alt="打烊" />
    <p class='body1 {{prefix}}--en'>
      SORRY，THE SHOP YOU ARE LOOKING IS CLOSED RIGHT NOW,
      <br />
      PLEASE TRY AGAIN LATER.
    </p>
    <p class='body1 {{prefix}}--cn'>謝謝光臨！對不起我們現在休息中, 很快重開。</p>
  </div>
</div>